@charset "utf-8";
[v-cloak] {
    text-indent: -9999px
}

html,
body {
    width: 100%;
    height: 100%;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-family: 'M PLUS 1p', sans-serif,"SF Pro JP","SF Pro Display","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 300;
    font-feature-settings : "palt";
}
#app,header,section,footer {
    width: 100%;
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#echo{
    margin-bottom: 110px;
}
#search_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#search_section p,#search_section i{
    font-size: 3rem;
}
#btn{
    color: whitesmoke;
}
#btn i{
    font-size: 2.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}
#modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    color: whitesmoke;
    background: rgba(30,30,30,0.9);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#alert{
    width: 300px;
    height: 200px;
    margin: auto;
}
#title,#footer{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    color: whitesmoke;
}
#title_link {
    font-size: 1.8rem;
    text-transform:uppercase;
}

.hidden{
    display: none;
}

